/* Universal Commands */
/* font-family: "Merriweather", serif; */
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-align: justify;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
}
.container {
  width: 80%;
  height: auto;
  margin: 20px auto;
}
p {
  color: #3e3e3e;
  font-size: 16px;
  line-height: 1.2;
}
/* First Section */
.first-page {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.first-page-text {
  width: 40%;
  height: auto;
  padding-top: 30px;
}
.first-page-title h1 {
  margin: 25px 0;
  font-family: "Merriweather", serif;
}
.first-page-title {
  border-image: linear-gradient(#c0392b, #e67e22);
  border-image-slice: 1;
  border-left: 5px solid;
  padding: 0 7px;
}
.color-title {
  color: #5f27cd;
}
.all-button {
  padding: 13px 35px;
  background: linear-gradient(45deg, #c0392b, #e67e22);
  display: inline-block;
  margin: 20px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 10px 10px 30px #bdc3c7;
  transition: 0.5s;
}
.all-button:hover {
  box-shadow: none;
  color: #bdc3c7;
}
small {
  display: block;
  color: #3e3e3e;
  margin-top: 20px;
}
.first-page-img {
  width: 40%;
  height: auto;
}
/* Second Section*/
.mission-area {
  display: flex;
  justify-content: space-between;
}
.mission-item {
  width: 27%;
  height: auto;
  padding: 40px 20px;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #bdc3c7;
}
.mission-item img {
  width: 40%;
  display: block;
  margin: 0 auto;
}
.mission-item h4 {
  font-size: 25px;
  padding: 10px 0;
  text-align: center;
}
.mission {
  background: rgba(0, 206, 201, 0.2);
}
.vision {
  background: rgba(253, 203, 110, 0.2);
}
.goals {
  background: rgba(232, 67, 147, 0.2);
}
/* Third Section */
.develop-area {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}
.develop-img {
  width: 45%;
  height: auto;
}
.develop-img img {
  width: 80%;
}
.develop-text {
  width: 55%;
  height: auto;
}
.develop-text h3 {
  font-size: 30px;
  text-align: start;
  width: 45%;
  line-height: 1.5;
  padding: 40px 0;
}
.third-section {
  background: url("../images/shape-1.png") no-repeat;
  background-position: left;
  background-size: 20%;
}
/* Fourth Section */
.fourth-section {
  padding: 40px 0;
  background: url("../images/shape-1.png") no-repeat;
  background-position: 98% 95%;
  background-size: 15%;
}
.community-img {
  text-align: end;
}
/* Fifth Section */
.fifth-section {
  background: url("../images/shape-9.png") no-repeat;
}
.fifth-section h1 {
  text-align: center;
  padding: 40px 0;
  margin-bottom: 60px;
}
.teach-content {
  display: flex;
  justify-content: space-between;
}
.teach-img {
  width: 50%;
  height: auto;
}
.teach-img img {
  width: 80%;
}
.teach-text {
  width: 50%;
  height: auto;
}
.teach-text h2 {
  text-align: left;
}
